.container-margin{
    margin-right: auto;
    margin-left: auto;
}
.container-padding{
    padding-right: 15px;
    padding-left: 15px;
}
.row-margin{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 16px;
}

* {
    box-sizing: border-box;
}
