.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    &__row{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 16px;
    }
}

[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
}

* {
    box-sizing: border-box;
}
/*FLOATS*/
.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix{
    content: "";
    display: block;
    clear:both;
}

body{
    margin: 8px;
}

.input{
    margin: 10px;
    padding: 2px;
}

.button{
    margin: 8px auto;
    padding: 4px;
}

.textarea{
    margin: 6px;
    width: 90%;
    /*min-height: 20%;*/
}
hr{
    align-self:center;
    width: 100%;
    color: $wrong;
}

.box{
    margin: auto;
    padding: 10px;
}

p,h1,h2,h3{
    margin:16px;
}
