.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 720px;
    }

    .col-sm-8{
        max-width:66.666%;
    }

    .col-sm-4{
        max-width:33.3333%;
    }

    .col-sm-6{
        max-width:50%;
    }

    .col-sm-1{
        max-width:8.3333%;
    }

    .col-sm-2{
        max-width:16.6666%;
    }

    .col-sm-3{
        max-width:25%;
    }

    .col-sm-5{
        max-width:41.6666%;
    }

    .col-sm-7{
        max-width:58.3333%;
    }

    .col-sm-9{
        max-width:75%;
    }

    .col-sm-10{
        max-width:83.3333%;
    }

    .col-sm-11{
        max-width:91.6666%;
    }

    .col-sm-12{
        max-width:100%;
    }

}


@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }

    .col-md-8{
        max-width:66.666%;
    }

    .col-md-4{
        max-width:33.333333%;
    }

    .col-md-6{
        max-width:50%;
    }

    .col-md-1{
        max-width:8.3333%;
    }

    .col-md-2{
        max-width:16.6666%;
    }

    .col-md-3{
        max-width:25%;
    }

    .col-md-5{
        max-width:41.6666%;
    }

    .col-md-7{
        max-width:58.3333%;
    }

    .col-md-9{
        max-width:75%;
    }

    .col-md-10{
        max-width:83.3333%;
    }

    .col-md-11{
        max-width:91.6666%;
    }

    .col-md-12{
        max-width:100%;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }

    .col-lg-8{
        max-width:66.6667%;
    }

    .col-lg-4{
        max-width:33.333333%;
    }

    .col-lg-6{
        max-width:50%;
    }

    .col-lg-1{
        max-width:8.3333%;
    }

    .col-lg-2{
        max-width:16.6666%;
    }

    .col-lg-3{
        max-width:25%;
    }

    .col-lg-5{
        max-width:41.6666%;
    }

    .col-lg-7{
        max-width:58.3333%;
    }

    .col-lg-9{
        max-width:75%;
    }

    .col-lg-10{
        max-width:83.3333%;
    }

    .col-lg-11{
        max-width:91.6666%;
    }

    .col-lg-12{
        max-width:100%;
    }

}

* {
    box-sizing: border-box;
} 

p{
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 32px;
}

h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row{
    margin-bottom: 16px;
}

[class*="col-"]{
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid darkslategrey;
    background-color: deepskyblue; 
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix{
    content: "";
    display: block;
    clear:both;
}

.square{
    height: 50px;
    width: 50px;
    border: 1px solid;
    margin: 3px;
    background-color: chartreuse;
}
.square1{
    height: 60px;
    width: 60px;
    border: 1px solid;
    margin: 1px;
    background-color: darksalmon;
}
.square2{
    height: 50px;
    width: 90px;
    border: 1px solid;
    margin: 2px;
    background-color: lightseagreen;
}
.square3{
    height: 80px;
    width: 80px;
    border: 1px solid;
    margin: 2px;
    padding: 2px;
    background-color: plum;
}
.square4{
    height: 30px;
    width: 30px;
    border: 1px solid;
    margin: 2px;
    padding: 2px;
    background-color: springgreen;
}


.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.y-center{
    align-items: center;
}

.x-start{
    justify-content: flex-start;
}

.x-end{
    justify-content: flex-end;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
