$font-size:(
    xsmall: 20px,
    small: 24px,
    med: 28px,
    big: 32px,
    xbig: 36px
);

$butt-big-param:(
    width:60%,
    height: 40%
);
$butt-small-param:(
    width:20%,
    height: 10%
);

$grid-colors:(
    border-color: darkslategrey,
    background-color: lightcyan

);
