$font-size:(
    xsmall: 20px,
    small: 24px,
    med: 32px,
    big: 36px,
    xbig: 48px
);

$butt-big-param:(
    width:60%,
    height: 40%
);
$butt-small-param:(
    width:20%,
    height: 10%
);

$grid-colors:(
    border-color: darkslategrey,
    background-color: lightcyan

);

$line-height:(
    p: 24px,
    h1: 32px,
    h2:40px,
    h3:48px
);
