$font: 'Times New Roman', Times, serif;
/*
BREAKPOINTS
*/
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
/*COLORS*/
$background-error: pink;
$border-error: solid 1.5px red;

/*BUTTON PARAMETRS*/
$butt-width: 80px;
$butt-height:20px;
$butt-rad: 5px;
/*INPUT PARAMETRS*/
$input-rad: 5px;