html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
BREAKPOINTS
*/
/*COLORS*/
/*BUTTON COLORS*/
/*BUTTON PARAMETRS*/
/*INPUT PARAMETRS*/
/*MIXIN FOR CONTAINER WIDTH*/
/*MIXIN FOR COLUMNS*/
.input--error::-webkit-input-placeholder,
.textarea--error::-webkit-input-placeholder {
  color: #c0392b;
}

.input--error::-moz-placeholder,
.textarea--error::-webkit-input-placeholder {
  color: #c0392b;
}

/* Firefox 19+ */
.input--error:-moz-placeholder,
.textarea--error::-webkit-input-placeholder {
  color: #c0392b;
}

/* Firefox 18- */
.input--error:-ms-input-placeholder,
.textarea--error::-webkit-input-placeholder {
  color: #c0392b;
}

.input--simple::-webkit-input-placeholder,
.textarea--simple::-webkit-input-placeholder {
  color: lightgray;
}

.input--simple::-moz-placeholder,
.textarea--simple::-webkit-input-placeholder {
  color: lightgray;
}

/* Firefox 19+ */
.input--simple:-moz-placeholder,
.textarea--simple::-webkit-input-placeholder {
  color: lightgray;
}

/* Firefox 18- */
.input--simple:-ms-input-placeholder,
.textarea--simple::-webkit-input-placeholder {
  color: lightgray;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: teal;
  font-weight: 500;
  line-height: 24px;
  /*text-align: center;*/
}

a {
  color: #c8c8c8;
  text-decoration: underline;
}

a:hover {
  color: #1c1c1c;
  text-decoration: underline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container__row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 16px;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

* {
  box-sizing: border-box;
}

/*FLOATS*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 8px;
}

.input {
  margin: 10px;
  padding: 2px;
}

.button {
  margin: 5px auto;
  padding: 2px;
}

.textarea {
  margin: 6px;
  width: 90%;
  /*min-height: 20%;*/
}

hr {
  align-self: center;
  width: 100%;
  color: #c0392b;
}

.box {
  margin: auto;
  padding: 10px;
}

p, h1, h2, h3 {
  margin: 16px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.y-center {
  align-items: center;
}

.x-start {
  justify-content: flex-start;
}

.x-end {
  justify-content: flex-end;
}

.container {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container__row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  width: 100%;
  min-height: 1px;
  border: 1px solid darkslategrey;
  background-color: lightcyan;
}

/*col-sm-i classes*/
@media only screen and (min-width: 768px) {
  .col-sm-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    max-width: 100%;
  }
}

/*col-md-i classes*/
@media only screen and (min-width: 992px) {
  .col-md-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-12 {
    max-width: 100%;
  }
}

/*col-lg-i classes*/
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    max-width: 100%;
  }
}

.input {
  width: 16em;
  border-radius: 5px;
}

.input--simple {
  background-color: white;
}

.input--disabled[type=submit] {
  cursor: not-allowed;
}

.input--readonly[type=text] {
  pointer-events: none;
}

.input--error {
  background-color: pink;
  border: solid 1.5px red;
}

.input--focus:focus {
  background-color: aquamarine;
}

.textarea--simple {
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px yellowgreen;
}

.textarea--disabled {
  cursor: not-allowed;
}

.textarea--focus:focus {
  background-color: aqua;
}

.textarea--readonly {
  pointer-events: none;
}

.textarea--error {
  background-color: pink;
  border: solid 1.5px red;
}

.checkbox--simple {
  background-color: black;
  cursor: pointer;
}

.checkbox--focus:focus {
  background-color: blue;
  outline: 5px solid #ffffcc;
  cursor: pointer;
}

.checkbox--error {
  outline: 5px solid pink;
}

.checkbox--disabled {
  cursor: not-allowed;
}

.radio--simple {
  background-color: black;
}

.radio--focus:focus {
  background-color: blue;
  outline: 5px solid #ffffcc;
}

.radio--error {
  outline: 5px solid pink;
}

.radio--disabled {
  cursor: not-allowed;
}

.button {
  border-radius: 5px;
  cursor: pointer;
}

.button--simple {
  background-color: beige;
}

.button--big {
  background-color: beige;
  width: 60%;
  height: 40%;
}

.button--small {
  background-color: beige;
  width: 20%;
  height: 10%;
}

.button--primary {
  background-color: lightgreen;
  border: 1px solid green;
  box-shadow: 1px 1px 1px green;
}

.button--secondary {
  background-color: white;
  border: 1px solid green;
  box-shadow: 1px 1px 1px lightgray;
}

.button--warning {
  background-color: orange;
  border: 1px solid orange;
  box-shadow: 1px 1px 1px orangered;
}

h1, h2, h3 {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-align: center;
  /*font-weight: 800;*/
}

h1 {
  font-size: 36px;
  color: forestgreen;
  line-height: 32px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 48px;
}

.label {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}

.label--simple {
  color: darkblue;
}

.label--error {
  color: #c0392b;
}

.box {
  background-color: lightyellow;
  border: solid 1px brown;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
