/*
BREAKPOINTS
*/
/*MIXIN FOR CONTAINER WIDTH*/
/*MIXIN FOR COLUMNS*/
p {
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3 {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.container-margin {
  margin-right: auto;
  margin-left: auto;
}

.container-padding {
  padding-right: 15px;
  padding-left: 15px;
}

.container__row-margin {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 16px;
}

* {
  box-sizing: border-box;
}

/*FLOATS*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.y-center {
  align-items: center;
}

.x-start {
  justify-content: flex-start;
}

.x-end {
  justify-content: flex-end;
}

.container {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container__row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 1px solid darkslategrey;
  background-color: deepskyblue;
}

/*col-sm-i classes*/
@media only screen and (min-width: 768px) {
  .col-sm-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    max-width: 100%;
  }
}

/*col-md-i classes*/
@media only screen and (min-width: 992px) {
  .col-md-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-12 {
    max-width: 100%;
  }
}

/*col-lg-i classes*/
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    max-width: 8.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-2 {
    max-width: 16.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-3 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-4 {
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-5 {
    max-width: 41.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-6 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-7 {
    max-width: 58.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-8 {
    max-width: 66.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-9 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-10 {
    max-width: 83.3333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-11 {
    max-width: 91.6666666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    max-width: 100%;
  }
}

.input--simple {
  background-color: white;
  border-radius: 4px;
}

.input--disabled[type=submit] {
  cursor: not-allowed;
}

.input--readonly[type=text] {
  pointer-events: none;
}

.input--error {
  background-color: pink;
  border: solid 1.5px red;
}

.input--focus:focus {
  background-color: aquamarine;
}

.textarea--simple {
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px yellowgreen;
}

.textarea--disabled {
  cursor: not-allowed;
}

.textarea--focus:focus {
  background-color: aqua;
}

.textarea--readonly {
  pointer-events: none;
}

.textarea--error {
  background-color: pink;
  border: solid 1.5px red;
}

.checkbox--simple {
  background-color: black;
}

.checkbox--focus:focus {
  background-color: blue;
  outline: 5px solid #ffffcc;
}

.checkbox--error {
  outline: 5px solid pink;
}

.checkbox--disabled {
  cursor: not-allowed;
  display: none;
}

.radio--simple {
  background-color: black;
}

.radio--focus:focus {
  background-color: blue;
  outline: 5px solid #ffffcc;
}

.radio--error {
  outline: 5px solid pink;
}

.radio--disabled {
  cursor: not-allowed;
}

.button--simple {
  background-color: beige;
}

.button--big {
  background-color: beige;
  width: 200px;
  height: 50px;
}

.button--small {
  background-color: beige;
  width: 50px;
  height: 20px;
}

.button--primary {
  border-radius: 5px;
  background-color: lightgreen;
  border: 1px solid green;
  box-shadow: 1px 1px 1px green;
}

.button--secondary {
  border-radius: 5px;
  background-color: white;
  border: 1px solid green;
  box-shadow: 1px 1px 1px lightgray;
}

.button--warning {
  border-radius: 5px;
  background-color: orange;
  border: 1px solid orange;
  box-shadow: 1px 1px 1px orangered;
}

.square3 {
  height: 80px;
  width: 80px;
  border: 1px solid;
  margin: 2px;
  padding: 2px;
  background-color: plum;
}

.square {
  height: 30px;
  width: 30px;
  border: 1px solid;
  margin: 2px;
  padding: 2px;
  background-color: springgreen;
}

/*# sourceMappingURL=styles.css.map */
