.input{
    width:16em;
    border-radius: $input-rad;
}
.input--simple{
    background-color: white;
}
.input--disabled[type="submit"]{
    cursor: not-allowed;
    }
.input--readonly[type="text"]{
    pointer-events: none;
}
.input--error{
    background-color: $background-error;
    border: $border-error;
}
.input--focus:focus{
    background-color: aquamarine;
}



