.input{
    width:16em;
    border-radius: $input-rad;
    outline: none;

    &--simple{
        background-color: white;
        &:-moz-placeholder{
            color: $simple-color;
        }
        &::-webkit-input-placeholder {
            color:$simple-color;
          }
    }

    &--disabled[type="submit"]{
        cursor: not-allowed;
    }

    &--readonly[type="text"]{
        pointer-events: none;
    }

    &--error{
        background-color: $background-error;
        border: $border-error;
        &:-moz-placeholder{
            color: $wrong;
        }
        &::-webkit-input-placeholder {
            color:$wrong;
          }
    }

    &--focus:focus{
        background-color: aquamarine;
    }

}



/*
.input--simple{
    background-color: white;
}
.input--disabled[type="submit"]{
    cursor: not-allowed;
    }
.input--readonly[type="text"]{
    pointer-events: none;
}
.input--error{
    background-color: $background-error;
    border: $border-error;
}
.input--focus:focus{
    background-color: aquamarine;
}*/



